<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userServiceImpl" class="com.java.doop.service.impl.UserServiceImpl"/>
    <bean id="orderServiceImpl" class="com.java.doop.service.impl.OrderServiceImpl"/>

    <!--定义两个 advice-->
    <bean id="logArgsAdvice" class="com.java.doop.aop_spring_1_2.LogArgsAdvice"/>
    <bean id="logResultAdvice" class="com.java.doop.aop_spring_1_2.LogResultAdvice"/>

    <!--定义两个 advisor-->
    <!--记录 create* 方法的传参-->
    <bean id="logArgsAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logArgsAdvice" />
        <property name="pattern" value="com.java.doop.service.*.create.*" />
    </bean>
    <!--记录 query* 的返回值-->
    <bean id="logResultAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logResultAdvice" />
        <property name="pattern" value="com.java.doop.service.*.query.*" />
    </bean>

    <!--定义DefaultAdvisorAutoProxyCreator 让所有的advisor 自动生效-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <!--定义一个只拦截queryUser方法的 advisor-->
    <!--<bean id="logCreateAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">-->
        <!--&lt;!&ndash;advisor 实例的内部会有一个 advice&ndash;&gt;-->
        <!--<property name="advice" ref="logArgsAdvice" />-->
        <!--&lt;!&ndash;只有下面这两个方法才会被拦截&ndash;&gt;-->
        <!--<property name="mappedNames" value="createUser,createOrder" />-->
    <!--</bean>-->

</beans>